
.board-row{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin:auto
}
.App{
  display: flex;
 justify-content: center;
  align-items: center;
 
  
}
.heading{
  text-align: center;
}